.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;

    padding: 15px;
    margin: 0 100px;
    

    a {
        color: white;
        margin-right: 25px;
    }

    .v1 {
        position: absolute;
        top: 16px;
        right: 11.2rem;
    }

    .v2 {
        position: absolute;
        top: 16px;
        right: 1rem;
    }

    .svg {
        position: absolute;
        top: 10px;
        left: 47rem;
    }

    

  

  
}